<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
<%#
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>
  <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5sLWoRkgpyzmdzD4PZ6696G_HyT85E4BzA-G0Wipt9Z5niEY7WOi6ij0-bERWFb--feA&usqp=CAU", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>

  <%= link_to landing_path, class: "navbar-brand" do %>
    <img src="<%= image_path("logonew.png")%>">
  <% end %>
</div>
