<div class="container">
        <% if current_user.all_favorites.count % 5 == 0 %>
          <% current_user.recomandations.each do |reco|  %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2><%= reco.name %></h2>
                <h2><%= reco.museum %><%= reco.address %></h2>
                <h2></h2>
                <p><%= reco.start_date %></p>
                <p> <%= reco.end_date %></p>
              </div>
            </div>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2><%= reco.name %></h2>
                <h2><%= reco.museum %><%= reco.address %></h2>
                <h2></h2>
                <p><%= reco.start_date %></p>
                <p> <%= reco.end_date %></p>
              </div>
            </div>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <h2><%= reco.name %></h2>
                <h2><%= reco.museum %><%= reco.address %></h2>
                <h2></h2>
                <p><%= reco.start_date %></p>
                <p> <%= reco.end_date %></p>
              </div>
            </div>
          <% end %>
        <% end %>
</div>
