<div class="container">
        <% if current_user.all_favorites.count % 5 == 0 %>
          <% current_user.recomandations.each do |reco|  %>
            <div class="card-product">
              <%= cl_image_tag reco.photo.key %>
              <div class="card-product-infos">
                <h2><%= reco.name %></h2>
                <h2><%= reco.museum %><%= reco.address %></h2>
                <h2></h2>
                <p><%= reco.start_date %></p>
                <p> <%= reco.end_date %></p>
              </div>
              <%= link_to "save", saved_user_exhibitions_path(@user_exhibtions) %>
              <%= link_to "discard",  discarded_user_exhibitions_path(@user_exhibtions) %>
            </div>
          <% end %>
        <% end %>
</div>
