<div>
  <div class="swiper-container mySwiper" data-controller="swiper">
    <div class="swiper-wrapper">
      <% @artworks.each_with_index do |artwork, index| %>
        <div class="swiper-slide" data-swiper-target="slide" data-id="<%= artwork.id %>" data-like-url="<%= like_artwork_path(artwork) %>">
          <div class="global">
            <%= cl_image_tag artwork.photo.key %>
            <div class="show-details">
              <div class="box">
                <h2><%= artwork.author.name %></h2>
                <p><%= artwork.title %></p>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
