<div class='container'>
    <div class="card mx-auto mt-3 col-md-10 col-10 p-0 image_booking rounded-100"> <img class='mx-auto pic w-100' src="https://i.imgur.com/kXUgBQZ.jpg" />
        <div class="card-title d-flex px-4">
            <p class="item text-muted"><%= @exhibition.name %><label class="register">&reg;</label></p>
            <p class="item justify-content-end"><%= rand(10..13) %>€</p>
        </div>
            <%= simple_form_for [@exhibition, @user_exhibition  ]  do |f| %>
                <%= f.input :date, :as => :datetime %>
        <div class="footer text-center p-0 mb-3">

        <div class="card-body">
            <p class="text-muted">Your payment details</p>
            <div class="numbr mb-3"> <i class=" col-1 fas fa-credit-card text-muted p-0"></i> <input class="col-10 p-0" type="text" placeholder="Card Number"> </div>
            <div class="line2 col-lg-12 col-12 mb-4"> <i class="col-1 far fa-calendar-minus text-muted p-0"></i> <input class="cal col-5 p-0" type="text" placeholder="MM/YY"> <i class="col-1 fas fa-lock text-muted"></i> <input class="cvc col-5 p-0" type="text" placeholder="CVC"> </div>
        </div>

            <div class="col-lg-12 col-12 p-0 mt-3 text-center">
                <%= f.button :submit, class: "btn btn-ghost payment-v", value: 'Confirm Payment' %>
            <% end %>


            </div>
        </div>
    </div>
</div>

<%# card mx-auto col-md-10 col-8 mt-3 p-0 %>
